$theme-color: rgb(59 130 246);

body {
  margin: 0;
}

.image-editor {
  color: $theme-color;
  max-height: 100%;
  &__cropper {
    background: white;
    height: 400px;
    max-height: 100%;
    position: relative;
  }
  &__slider {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    position: absolute;
  }
  &__cropper-overlay {
    transition: 0.5s;
    &--faded {
      color: rgba(white, 0.9);
    }
  }
  &__service {
    pointer-events: none;
    left: -100%;
    position: absolute;
  }
  &__reset-button {
    position: absolute;
    right: 20px;
    top: 20px;
    background: rgba(white, 0.1);
    &:hover {
      fill: $theme-color;
      background: rgba(white, 0.2);
    }
    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.mobile {
  user-select: none;
  min-width: 300px;
  &__cropper-wrapper {
    background: white;
  }

  &__cropper {
    color: #61dafb; // cropper's color
    max-height: 500px;
  }

  &__cropper-background {
    background: white;
  }

  &__cropper-wrapper {
    position: relative;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: center;
  }

  &__button {
    border: none;
    outline: solid transparent;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    background: #36393f;
    cursor: pointer;
    transition: background 0.5s;
    width: 100%;
    &:hover,
    &:focus {
      background: whites;
    }
    input {
      display: none;
    }
  }
}
